/.DS_Store
**/__pycache__/
*.pyc
*.pyo
/accuracies_all_methods.txt
LLM_pruning_test.ipynb
CLAUDE.md
.pytest_cache
.venv
.claude
docs
cluster_info.md
submit_instructions.md
slurm_logs
unstructured_pruning/checkpoints/
unstructured_pruning/checkpoints.zip
unstructured_pruning/figures/figures.zip
**/.DS_Store